@{
    ViewBag.Title = "_LayoutWithSideBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Featured{
    @RenderSection("featured", required: false)    
}
@section Scripts{
    @RenderSection("Scripts",required: false)
}

<div class="sidebar">
    @RenderSection("Sidebar")
</div>

<div class="content">
    @RenderBody()
</div>
